@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(233, 47%, 7%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/* Card */
.entire{
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: hsl(244, 38%, 16%);
    width: 1100px;
    height: 446px;
    display: flex;
    /* height: 400px; */
}
/* Written portion */
.notimg{
    margin-left: 50px;
    margin-top: 50px;
}
/* Heading */
.heading h1{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}
.heading h1 p{
    display: inline;
    color: hsl(277, 64%, 61%);
}
/* Main Paragraph */
.para{
    /* border: 2px solid red; */
    width: 350px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    color: hsla(0, 0%, 100%, 0.75);
}
/* Image section */
.image{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    mix-blend-mode: multiply;
    opacity: 0.75;
}
.overlay{
    position: relative;
    background-color: hsl(277, 64%, 61%);
    border-radius: 0 10px 10px 0;
}
/* Statistics */
.stats{
    /* border: 2px solid red; */
    font-family: 'Inter', sans-serif;
    width: 400px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}
.stats h3{
    font-size: 25px;
}
.stats p{
    padding-top: 5px;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
}

/* Media Queries */

@media screen and (max-width:1150px){
    .entire{
        width: 800px;
        height: 400px;
    }
    .heading h1{
        font-size: 30px;
        margin-right: 20px;
    }
    .image{
        width: 400px;
        height: 400px;
    }
    .para{
        width: 300px;
    }
    .stats{
        width: 300px;
    }
    .stats h3{
        font-size: 18px;
    }
    .stats p{
        font-size: 12px;
    }
}
@media screen and (max-width:820px){
    body{
        justify-content: center;
        align-items: center;
    }
    .entire{
        flex-wrap: wrap-reverse;
        width: 80%;
        height: 1000px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .overlay{
        width: 100%;
        /* height: 50%; */
        border-radius: 10px 10px 0 0;
    }
    .image{
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .notimg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-left: 0px;
    }   
    .heading h1{
        font-size: 35px;
        text-align: center;
    }
    .para{
       
       width: 60%;
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }
    .stats{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        height: 45%;
        margin-bottom: 20px;
    }
    .stats h3{
        font-size: 25px;
    }
    .stats p{
        font-size: 20px;
    }
}

@media screen and (max-width:550px){
    .heading h1{
        margin: 5px;
        font-size: 30px;
    }
    .para{
        width: 65%;
        font-size: 18px;
        margin-top: 5px;
    }
    .stats{
        margin-top: 10px;
    }
}

@media screen and (max-width:395px){
    .heading h1{
        margin: 5px;
        font-size: 20px;
    }
    .para{
        width: 65%;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0;
        margin-top: 5px;
    }
    .stats{
        margin-top: 20px;
    }
    .stats h3{
        font-size: 20px;
    }
    .stats p{
        font-size: 12px;
    }
}
